alembic>=1.12.0
fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
psycopg2-binary>=2.9.0
geoalchemy2>=0.14.0
redis>=5.0.0
requests>=2.31.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
email-validator>=2.0.0
geopandas>=0.14.0
osmnx>=1.9.0
shapely>=2.0.0
tqdm>=4.66.0
pyrosm>=0.11.0

# Test & lint
pytest>=7.0.0
httpx>=0.24.0
ruff>=0.4.0
